DATA ACQUISITION
## RPA Fraud Detection

Reputable Product Agency (RPA) has started receiving complaints from their credit card processor about fraudulent transactions. Let's help the finance department identify potentially risky transactions before they finish processing.

This dataset contains a single table, transaction_data.

The schema of this table is available [here](https://content.codecademy.com/courses/sql-queries-fraud/transaction-data.png).

__First, let's connect our Jupyter Notebook to our database file__

In [1]:
%%capture
%load_ext sql
%sql sqlite:///transaction_data.db

__1. Let's take a first look at the data to see what it looks like__

In [3]:
%%sql
SELECT * FROM transaction_data
 LIMIT 10;

 * sqlite:///transaction_data.db
Done.

[(0, 1, 'Menard Peniman', 'mpeniman0@yahoo.co.jp', 92132.0, '223.107.70.220'),
 (1, 2, 'Paulita Boome', 'pboome1@over-blog.com', 94154.0, '164.183.91.223'),
 (2, 3, 'Barnabe Unthank', 'bunthank2@blinklist.com', 65110.0, '167.248.251.58'),
 (3, 4, 'Boigie Hughes', 'bhughes3@simplemachines.org', 98104.0, '219.28.158.36'),
 (4, 5, 'Trudi Rawet', 'trawet4@multiply.com', 91199.0, '76.97.141.59'),
 (5, 6, 'Elset Paviour', 'epaviour5@google.com', 84105.0, '93.210.178.222'),
 (6, 7, 'Cammi Colthard', 'ccolthard6@newyorker.com', 75049.0, '126.17.241.252'),
 (7, 8, 'Kristal Bleasdale', 'kbleasdale7@ca.gov', 79977.0, '192.94.201.227'),
 (8, 9, 'Donovan Worsalls', 'dworsalls8@wikimedia.org', 20078.0, '101.219.105.228'),
 (9, 10, 'Lynna Grindley', 'lgrindley9@studiopress.com', 72204.0, '149.164.116.199')]

The transaction_data table has the following column names:

id, full_name, email, zip, ip_address

__2.The finance department noted that some of the fraudulent transactions were recorded as coming from Smokey Bear’s zip code (20252).__

__Let's find the full_names and emails of the transactions listing 20252 as the zip code.__

In [7]:
%%sql

 SELECT full_name, email, zip FROM transaction_data
 WHERE zip = 20252;

   sqlite:///chat.db
 * sqlite:///transaction_data.db
Done.

[('Grantham Keat', 'gkeat2h@ucla.edu', 20252.0)]

There is one transaction using this zip code.

__3. Finance has also noticed a number of pseudonyms associated with fraudulent transactions.
The fraudsters thought it would be funny to use ‘Art Vandelay’ for their full name or add a ‘der’ for their middle name.__

__Let's use a query to find the names and emails associated with these transactions.__

In [8]:
%%sql

 SELECT * FROM transaction_data
 WHERE full_name = 'Art Vandelay'
 OR full_name LIKE '%der%';

   sqlite:///chat.db
 * sqlite:///transaction_data.db
Done.

[(79, 80, "Sanders O'Fielly", 'sofielly27@nasa.gov', 71151.0, '155.37.189.182'),
 (93, 94, 'Friederike Gormally', 'fgormally2l@illinois.edu', 92668.0, '9.42.48.50'),
 (130, 131, 'Helyn Callender', 'hcallender3m@hugedomains.com', 32835.0, '174.134.213.0'),
 (170, 171, 'Parrnell Van der Mark', 'pvan4q@craigslist.org', 18105.0, '223.237.39.115')]

There are four transactions with 'der' in their users names.

__4. There are some irregularities in the IP addresses where transactions are originating from. For example, any IP address beginning with ‘10.’ is reserved for internal use. We shouldn’t see IP addresses like this accessing Reputable Company’s service.__

__Let's find the ip_addresses and emails listed with these transactions.__

In [9]:
%%sql

 SELECT ip_address, email FROM transaction_data
 WHERE ip_address LIKE '10%';

   sqlite:///chat.db
 * sqlite:///transaction_data.db
Done.

[('101.219.105.228', 'dworsalls8@wikimedia.org'),
 ('105.167.22.78', 'emcwilliams1b@theguardian.com'),
 ('103.179.68.140', 'bgrayham22@guardian.co.uk'),
 ('103.95.255.156', 'lsweetenham2c@epa.gov'),
 ('107.173.33.83', 'dgiorio4h@cocolog-nifty.com'),
 ('102.46.225.121', 'amarlow4o@telegraph.co.uk')]

__5. Users are making fraudulent transactions using a temporary email address service. These services provide a short-lived email that can be verified and then self-destructs.__

__Let's find the emails in transaction_data with ‘temp_email.com’ as a domain.__

In [10]:
%%sql

 SELECT email FROM transaction_data
 WHERE email like '%temp_email.com';

   sqlite:///chat.db
 * sqlite:///transaction_data.db
Done.

[('obemwellw@temp_email.com',)]

__6. 
The finance department is looking for a specific transaction. They know that the transaction occurred from an ip address starting with ‘120.’ and their full name starts with ‘John’.__

__Let's try to find the transaction.__

In [12]:
%%sql

 SELECT * FROM transaction_data
 WHERE ip_address LIKE '149%'
 AND full_name LIKE 'Lynna%';

   sqlite:///chat.db
 * sqlite:///transaction_data.db
Done.

[(9, 10, 'Lynna Grindley', 'lgrindley9@studiopress.com', 72204.0, '149.164.116.199')]

__CONCLUSION:__

In this project we helped the Reputable Product Agency to find saome of the transactions that seem to be fraud and we successfully found some!